@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100vw;
  height: 100vh;
}

:root,
:root.orange {
  --bg-color: rgb(252, 194, 133);
  --dec-color: orange;
}
:root.purple {
  --bg-color: rgb(197, 97, 197);
  --dec-color: rgb(148, 35, 148);
}
:root.green {
  --bg-color: #96e6a1;
  --dec-color: #9afc79;
}
:root.blue {
  --bg-color: #c2e9fb;
  --dec-color: #a1c4fd;
}

.App {
  position: relative;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
  background-image: radial-gradient(
      closest-side,
      rgba(253, 160, 133, 1),
      rgba(246, 211, 101, 0)
    ),
    radial-gradient(closest-side, rgba(248, 54, 0, 1), rgba(249, 212, 35, 0)),
    radial-gradient(closest-side, rgba(255, 88, 88, 1), rgba(240, 152, 25, 0)),
    radial-gradient(
      closest-side,
      rgba(255, 195, 160, 1),
      rgba(255, 175, 189, 0)
    ),
    radial-gradient(
      closest-side,
      rgba(221, 214, 243, 1),
      rgba(250, 172, 168, 0)
    );
  background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax,
    110vmax 110vmax, 90vmax 90vmax;
  background-position: -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax,
    -10vmax -30vmax, 50vmax 50vmax;
  animation: movement 5s linear infinite;
}

.container {
  margin-bottom: 10%;
}
.display-1 {
  font-family: "Pacifico", cursive;
}

.section-title {
  height: fit-content;
  margin-bottom: 30px;
  border-radius: 40%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.bold-text {
  font-weight: 700;
}
.section-title-animation {
  animation: slideTop 1s ease forwards;
}

/* CSS for Navbar */
.nav-name,
.cv-btn {
  position: relative;
}
.cv-btn {
  height: fit-content;
  width: fit-content;
  border-radius: 20px;
  border: 2px var(--dec-color) solid;
}

.nav-name.name-click-animation::before,
.nav-name.name-click-animation::after,
.cv-btn::before,
.cv-btn::after,
.row.btn::before,
.row.btn::after {
  content: "";
  position: absolute;
  width: 150%;
  height: 100%;
  left: -25%;
  background-repeat: no-repeat;
}

.nav-name.name-click-animation::before,
.cv-btn:hover::before,
.row.btn::before {
  top: -70%;
  background-image: radial-gradient(
      circle,
      var(--dec-color) 20%,
      transparent 20%
    ),
    radial-gradient(
      circle,
      transparent 20%,
      var(--dec-color) 20%,
      transparent 30%
    ),
    radial-gradient(circle, var(--dec-color) 20%, transparent 20%),
    radial-gradient(circle, var(--dec-color) 20%, transparent 20%),
    radial-gradient(
      circle,
      transparent 10%,
      var(--dec-color) 15%,
      transparent 20%
    ),
    radial-gradient(circle, var(--dec-color) 20%, transparent 20%),
    radial-gradient(circle, var(--dec-color) 20%, transparent 20%),
    radial-gradient(circle, var(--dec-color) 20%, transparent 20%),
    radial-gradient(circle, var(--dec-color) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  animation: topBobbles 0.6s ease-in-out infinite;
}

.nav-name.name-click-animation::after,
.cv-btn:hover::after,
.row.btn::after {
  bottom: -70%;
  background-image: radial-gradient(
      circle,
      var(--dec-color) 20%,
      transparent 20%
    ),
    radial-gradient(circle, var(--dec-color) 20%, transparent 20%),
    radial-gradient(
      circle,
      transparent 10%,
      var(--dec-color) 15%,
      transparent 20%
    ),
    radial-gradient(circle, var(--dec-color) 20%, transparent 20%),
    radial-gradient(circle, var(--dec-color) 20%, transparent 20%),
    radial-gradient(circle, var(--dec-color) 20%, transparent 20%),
    radial-gradient(circle, var(--dec-color) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  animation: bottomBubbles ease-in-out 0.6s infinite;
}
.cv-btn:hover::before {
  animation: topBobbles 1.2s ease-in-out infinite;
}
.row.btn::before {
  animation: topBobbles 1.2s ease forwards;
}
.cv-btn:hover::after {
  animation: bottomBubbles 1.2s ease-in-out infinite;
}
.row.btn::after {
  animation: bottomBubbles 1.2s ease forwards;
}

.menu {
  position: sticky;
  top: 0px;
  z-index: 10000;
  padding: 0;
  margin: 0;
  width: 100vw;
}
.menu .navbar {
  padding: 10px 20px;
  background-color: var(--bg-color) !important;
}
.navbar-brand {
  animation: slideIn 1s ease forwards;
}
.nav-item {
  transition: transform 250ms ease-in-out;
}
.nav-item::after {
  display: block;
  content: "";
  border-bottom: solid 3px var(--dec-color);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.nav-item:hover {
  transform: translate(0%, -10%);
}
.nav-item:active {
  transform: scale(0.9);
}
.nav-item:hover::after {
  transform: scaleX(1);
}
.nav-item-animation {
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

/* CSS for Main page */
#id {
  height: 100vh;
}

.container.loading {
  border: 0;
  margin: 0;
  padding: 0;
  max-width: unset;
}
.loading-background {
  position: relative;
  height: 100%;
  margin: 0;
}

.row.float-end {
  width: fit-content;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  margin-left: 80%;
}
/* CSS for DIY Btn in Main Page */

.diy-btn {
  width: 50px;
  padding: 0;
  margin-top: 20px;
  margin-left: 90%;
  height: fit-content;
  transition: transform 0.3s;
}
.diy-btn .btn-line {
  z-index: 2;
  position: relative;
  width: 50px;
  height: 8px;
  background: black;
  border-radius: 5px;
  margin-bottom: 8px;
}
.diy-btn .btn-line-short {
  z-index: 1;
  position: relative;
  width: 30px;
  height: 8px;
  transition: 0.5s;
  animation: MenuMove 1s linear forwards;
}

.sidenav {
  position: absolute;
  height: 100%;
  width: fit-content;
  top: 10%;
  right: 2%;
}

.sidenav a {
  width: fit-content;
  text-decoration: none;
  text-align: right;
  color: transparent;
  font-size: 5em;
  font-weight: 900;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.6),
    0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  transition: all 2s;
}

.row.nav {
  margin-left: 10px;
}

.sidenav a:hover {
  transform: translate(-10%, 10%);
  text-shadow: 20px 20px 1px rgba(240, 240, 240, 1);
}

.welcome {
  display: block;
  color: transparent;
  font-size: 4em;
  font-weight: 900;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.6),
    0px 4px 4px rgba(0, 0, 0, 0.05);
  opacity: 0;
}
.welcome-1 {
  animation: zoomIn 2s ease forwards, welcome-1 2s ease forwards;
  animation-delay: 0s, 2s;
}
.welcome-2 {
  animation: zoomIn 2s ease forwards, welcome-2 1s ease forwards;
  animation-delay: 3s, 5s;
}

.srollbar-loading {
  position: absolute;
  height: 5%;
  width: 100%;
}
.fa-chevron-down {
  display: block;
  width: 100%;
  color: transparent;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.6),
    0px 4px 4px rgba(0, 0, 0, 0.05);
  animation: opacityChanged 1.5s infinite;
  animation-delay: calc(0.2s * var(--i));
}

/* CSS FOR Introduction PAGE */
.name-animation {
  position: relative;
  height: 100px;
}
.name-animation::before {
  content: "Wenyi Sun";
  position: absolute;
  height: 120px;
  left: 20px;
  top: 0;
  font-weight: 900;
  font-size: 68px;
  white-space: nowrap;
  overflow: hidden;
  animation: TextSwipe 2s linear forwards;
}

.contact-animation {
  opacity: 0;
  color: black;
  animation: slideBottom 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.photo-card {
  transition: all 0.5s;
}
.photo-card-photo {
  width: 300px;
  height: 400px;
  border-radius: 100%;
  box-shadow: 20px 30px 20px 5px rgba(127, 129, 115, 0.6);
}
.photo-card-photo-animation {
  animation: zoomIn 2s ease forwards, MoveUpAndDown 2s ease infinite;
  animation-delay: 0s, 3s;
}
.row.contact {
  height: 50px;
}
.row.contact .col i {
  transition: all 1s;
}

.row.contact .col i:hover {
  transform: scale(1.5);
}

/* Project Page */

.projects {
  padding-bottom: 20px;
}
.project-leftSection-animation {
  animation: slideIn 2s ease forwards;
}
.project-rightSection-animation {
  animation: slideLeftIn 2s ease forwards;
}

.project-picture-section {
  position: relative;
  width: 600px;
  height: 350px;
  border-radius: 20px;
  transition: 0.5s;
}
.project-picture-section .preview-content {
  z-index: 100;
}
.project-picture-section .preview-content .preview-title {
  font-size: 1.5rem;
  font-weight: 600;
}
.project-picture-section:hover .preview-content {
  display: none;
}

.project-picture-section .circle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.project-picture-section .circle::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dec-color);
  border-radius: 20px;
  clip-path: circle(150px at center);
  transition: 1s;
}
.project-picture-section:hover .circle::before {
  clip-path: circle(1000px at center);
  background-color: var(--dec-color);
}
.project-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  transition: 0.5s;
}
.project-picture-section:hover .project-img {
  left: 80%;
  height: 600px;
}
.project-picture-section .content {
  position: relative;
  width: 60%;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
.project-picture-section:hover .content {
  visibility: visible;
  opacity: 1;
}

.project-picture-section .content .btn {
  display: block;
  background-color: bisque;
  height: fit-content;
}

/* CSS for experience Page */
.timeline {
  position: relative;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10%;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: var(--dec-color);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 50;
}
.single-experience {
  /* border: 2px solid #ddd; */
  position: relative;
  opacity: 0;
  height: fit-content;
}
.single-experience-animation {
  animation: zoomIn 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.single-experience .content {
  width: 50%;
  height: fit-content;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 1s;
}
.left.single-experience .content:hover {
  transform: translateX(-10%);
}

.single-experience .content .experience-time {
  font-size: 1.5rem;
  font-weight: 400;
}
.single-experience .content .experience-title {
  font-size: 1.2rem;
  font-weight: 900;
}

.right.single-experience .content {
  position: relative;
  transform: translate(105%, 0);
}

.right.single-experience .content:hover {
  transform: translateX(120%);
}
.left.single-experience .content .experience-time {
  position: relative;
  transform: translate(30%, 0);
}

.right.single-experience .content .experience-time {
  position: relative;
  transform: translate(-30%, 0);
}
/* CSS for Skills Section */
.portrait {
  width: 200px;
  height: 200px;
}
.learning-journey p.col .initial {
  font-family: "Pacifico", cursive;
  font-size: 2em;
  font-weight: 500;
}

.single-skill-card {
  position: relative;
  width: 90px;
  height: 400px;
  overflow: hidden;
  margin-left: 12px;
  margin-bottom: 10px;
}
.single-skill-card:hover {
  overflow: initial;
}

.skill-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.164, 0.84, 0.44, 1);
  overflow: hidden;
  border-radius: 10px;
  background-color: transparent;
}

.skill-title {
  position: relative;
  font-size: 6rem;
  font-weight: 900;
  transform: translate(-20%, 120%) rotate(-90deg);
  opacity: 0.3;
}
.skill-logo {
  position: absolute;
  display: block;
  bottom: 1%;
  transition: all 0.5s;
}

.skill-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.skill-hover .skill-title {
  opacity: 0;
}

.single-skill-card:hover .skill-box > .skill-title {
  opacity: 0;
}
.single-skill-card:hover > .skill-box {
  transform: scaleY(1.5);
}
.single-skill-card:nth-child(1):hover > .skill-box {
  background-color: #5382a1;
}
.single-skill-card:nth-child(2):hover > .skill-box {
  background-color: #f0db4f;
}
.single-skill-card:nth-child(3):hover > .skill-box {
  background-color: #ff7262;
}
.single-skill-card:nth-child(4):hover > .skill-box {
  background-color: #61dbfb;
}
.single-skill-card:nth-child(5):hover > .skill-box {
  background-color: rgba(0, 0, 0, 0.05);
}
.single-skill-card:nth-child(6):hover > .skill-box {
  background-color: #764abc;
}
.single-skill-card:nth-child(7):hover > .skill-box {
  background-color: #68a063;
}
.single-skill-card:nth-child(8):hover > .skill-box {
  background-color: #ddd;
}
.single-skill-card:nth-child(9):hover > .skill-box {
  background-color: #00684a;
}
.single-skill-card:nth-child(10):hover > .skill-box {
  background-color: #00758f;
}
.single-skill-card:nth-child(11):hover > .skill-box {
  background-color: rgb(249, 155, 31);
}
.single-skill-card:nth-child(12):hover > .skill-box {
  background-color: #b4d5de;
}

.single-skill-card:hover > .skill-hover .skill-title {
  position: relative;
  opacity: 0.8;
  font-size: 8rem;
  font-weight: 900;
  transform: translate(-50%, 100%) rotate(-90deg);
}

.single-skill-card:nth-child(2):hover > .skill-hover .skill-title,
.single-skill-card:nth-child(9):hover > .skill-hover .skill-title {
  font-size: 5rem;
  transform: translate(-50%, 200%) rotate(-90deg);
}
.single-skill-card:hover .skill-logo {
  opacity: 0;
}

/* CSS for Footer Section */

#footer {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  max-width: unset;
  position: relative;
  overflow-y: hidden;
}
#footer::after,
#footer::before {
  content: "";
  position: absolute;
  width: 250vw;
  height: 250vh;
  background-image: radial-gradient(
    closest-side,
    rgba(248, 54, 0, 1),
    rgba(249, 212, 35, 0)
  );
  border-radius: 55%;
  transform: translate(-50%, 100%) rotateZ(0);
  top: 15vh;
  animation: rotate 5s linear infinite;
  margin-top: 80%;
}
#footer::after {
  top: 10vh;
  background-image: radial-gradient(
    closest-side,
    rgba(255, 195, 160, 1),
    rgba(255, 175, 189, 0)
  );

  border-radius: 57%;
}
.footer-content {
  width: 300px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.contact .col i {
  color: black;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, 2%) rotateZ(0);
  }

  50% {
    transform: translate(-45%, 0%) rotateZ(180deg);
  }

  100% {
    transform: translate(-50%, 2%) rotateZ(360deg);
  }
}

@keyframes opacityChanged {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideLeftIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes shrink {
  0% {
    border-radius: 0%;
  }

  100% {
    border-top-left-radius: 100% 50%;
    border-top-right-radius: 100% 50%;
    border-bottom-left-radius: 100% 50%;
    border-bottom-right-radius: 100% 50%;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(100%);
    opacity: 1;
  }
}
@keyframes TextSwipe {
  0% {
    width: 0;
  }
  100% {
    width: 500px;
  }
}

@keyframes ShiftToTopRight {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
}

@keyframes MoveUpAndDown {
  0% {
    transform: translateY(-2%);
  }
  50% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(-2%);
  }
}

@keyframes borderBottom {
  0% {
    border-bottom: none;
  }

  100% {
    border-bottom: 2px solid #ddd;
  }
}

@keyframes topBobbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes movement {
  0%,
  100% {
    background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax,
      110vmax 110vmax, 90vmax 90vmax;
    background-position: -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax,
      -10vmax -30vmax, 50vmax 50vmax;
  }

  25% {
    background-size: 120vmax 120vmax, 90vmax 90vmax, 80vmax 80vmax,
      120vmax 110vmax, 80vmax 80vmax;
    background-position: -50vmax -70vmax, 50vmax -40vmax, 20vmax 30vmax,
      -20vmax -40vmax, 60vmax 60vmax;
  }
  50% {
    background-size: 80vmax 80vmax, 110vmax 110vmax, 70vmax 70vmax,
      110vmax 130vmax, 60vmax 30vmax;
    background-position: -60vmax -60vmax, 70vmax -30vmax, 30vmax 40vmax,
      -30vmax -20vmax, 550vmax 55vmax;
  }
  75% {
    background-size: 110vmax 110vmax, 80vmax 80vmax, 75vmax 75vmax,
      120vmax 110vmax, 80vmax 80vmax;
    background-position: -50vmax -70vmax, 50vmax -40vmax, 20vmax 30vmax,
      -20vmax -40vmax, 60vmax 60vmax;
  }
}

@keyframes welcome-1 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) rotate(-90deg) translateY(-300%);
  }
}

@keyframes welcome-2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.2) translate(10%, 10%);
    opacity: 1;
  }
}
