

.container {
  margin-bottom: 30%;
}
.navbar {

  position: sticky;
  top: 0px;
}
.profile-picture {
  width:300px;
  height:400px;
  border-radius: 100%;
}
.timeline {
  width: 10px;
  height: 100%;
  background-color: black;
}