* {
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100vw;
  height: 100vh;
}
.container {
  margin-bottom: 30%;
}

/* CSS for Navbar */
.menu {
  position: sticky;
  top: 0px;
}
.navbar-brand {
  animation: slideIn 1s ease forwards;
}

.nav-item-animation {
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

/* CSS for Main page */
#id {
  height: 100vh;

}

.container.loading {
  border: 0;
  margin: 0;
  padding: 0;
  max-width: unset;
}

.greeting {
  position: relative;
  color: white;
  font-weight: 900;
  font-size: 108px;
}
.greeting::before {
  content: "Welcome";
  position: absolute;
  width: 2px;
  white-space: nowrap;
  overflow: hidden;
  animation: TextSwipe 2s linear forwards;
}
.loading-background{
   position: relative;
   background-image: url(../public/imgs/IMG_8678.png);
   /* background-color: rosybrown; */
   background-size: cover;
   background-position: 50% 50%;
  height: 80%;
  font: 900 20rem "";
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  text-align: center;
  overflow-y:scroll;
  animation: shrink 2s ease forwards;

}
.loading-background::before{
  content:"";
  background-image: inherit;
   /* background-color: rosybrown; */
   background-size: cover;
   background-position: 50% 50%;
   position: absolute;
   top:0;
   left:0;
   bottom: 0;
   right:0;
   z-index:-100;

}
.loading-main {
  position:absolute;


}

.srollbar-loading {
  height: 5%;
  width: 100%;
}
.fa-chevron-down {
  display: block;
  width: 100%;
  color: bisque;
  animation: opacityChanged 1.5s infinite;
  animation-delay: calc(0.2s * var(--i));
}

/* CSS FOR Introduction PAGE */
.contact-animation {
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.photo-card {
  transition: all 0.5s;
}
.photo-card-photo {
  width: 300px;
  height: 400px;
  border-radius: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  z-index: -100;
  box-shadow: 20px 30px 20px 5px rgba(127, 129, 115, 0.6);
 

}
.photo-card-photo-animation {
  animation: zoomIn 2s ease forwards,MoveUpAndDown 2s ease infinite;
   animation-delay: 0s, 3s;
}

/* Project Page */
#projects > row {
  margin-top: 10%;
}
.project {
  padding-bottom: 20px;
}

.project-picture-section {
  position: relative;
  width: 600px;
  height: 350px;
  transition: 0.5s;
  border:1px solid #ddd;
  overflow: auto;
}

.project-picture-section .circle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.project-picture-section .circle::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  border-radius: 20px;
  clip-path: circle(150px at 100px 150px);
  transition: 1s;
}
.project-picture-section:hover .circle::before {
  clip-path: circle(500px at center);
  background-color: cadetblue;
}

.project-picture-section .project-img {
  position: absolute;
  width: 180px;
  height: 240px;
  transform: translate(-10%, -50%);
  overflow: hidden;
}
.project-picture-section .project-img-hover {
  display: none;
  transition: 1s;
}
.project-picture-section:hover .project-img{
  display: none;
}
.project-picture-section:hover .project-img-hover{
  display: block;
  position: absolute;
  width: 180px;
  height: 240px;
  /* transform: translate(300%, -40%) rotateZ(30deg);; */
  transform: rotateX(30deg) rotateY(-20deg);
  overflow: hidden;

}
.project-picture-section .content{
  position: relative;


}
.project-picture-section .content .content-image{
  display: none;
}
.project-picture-section:hover .content .content-image{
  display: block;
}
.project-picture-section .content .sample-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.project-link {
  display: block;
  position: absolute;
  top: 50%;
  left:75%;
    transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s ease;
}
.project-picture-section:hover .sample-img {
  opacity: 0.3;
}
.project-picture-section:hover .project-link{
  background-color: #ddd;
  opacity: 1;
} 

/* CSS for internship Page */
.timeline {
  width: 10px;
  height: 100%;
  background-color: black;
}

@keyframes opacityChanged {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes shrink {
  0% {
    border-radius: 0%;
  }

  100% {
    border-top-left-radius: 100% 50%;
    border-top-right-radius: 100% 50%;
    border-bottom-left-radius: 100% 50%;
    border-bottom-right-radius: 100% 50%;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(100%);
    opacity: 1;
  }
}
@keyframes TextSwipe {
  0% {
    width: 0;
  }
  100% {
    width: 500px;
  }
}

@keyframes ShiftToTopRight{
   0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
}

@keyframes MoveUpAndDown{
   0% {
    transform: translateY(-2%);
  }
  50% {
     transform: translateY(2%);
  }
  100% {
     transform: translateY(-2%);
  }
}
